*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background: linear-gradient(
  90deg,
  #E6ECF2 0%,
  #EEEAF1 100%
);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-card{
    width:350px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    text-align:center;
}

.login-card h1{
    color:#4F46E5;
    margin-bottom:10px;
}

.login-card p{
    color:gray;
    margin-bottom:20px;
}

select,
input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:10px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background: linear-gradient(
  90deg,
  #3B82F6 0%,   /* Blue */
  #8B5CF6 50%,  /* Purple */
  #A855F7 100%  /* Magenta Purple */
);
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#4338ca;
}
.signup {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: #475569;
}

.signup a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}

.signup a:hover {
    text-decoration: underline;
}