*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f5f7ff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-card{
    width:350px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    text-align:center;
}

.login-card h1{
    color:#4F46E5;
    margin-bottom:10px;
}

.login-card p{
    color:gray;
    margin-bottom:20px;
}

select,
input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:10px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#4F46E5;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#4338ca;
}